* {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #eee;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20vh);
}
ul, li{
  list-style-type: none;
}

/* form */
.field{

}


